html{
	position: relative;
    min-height: 100%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Indie Flower', cursive;
	background-color: #727272;
	color:white;
	margin-bottom: 40px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="text"],input[type="password"], input[type="search"]{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 20px;
	width: 100%;
}

/* HEADER */
nav{
	background-color: #3E464C;
}
nav ul li{
	display: inline-block;
	padding: 10px;
	cursor:pointer;
}
nav ul li:hover{
	border-bottom: 2px solid #D32F2F;
	padding-bottom:8px;
}
nav ul li:first-of-type{
	margin-left: 10px;
}
header .banner{
	height: 100px;
	width: 100%;
	background-image: url("../img/bg1.jpg");
}

/* ASIDE */
aside{
	float:right;
	/*background-color: #303F9F;*/
	width: 20%;
}
aside ul li{
	padding: 15px;
	border-bottom: 1px solid #FFC107;; 
	cursor:pointer;
}
aside ul li:hover{
	background-color:#3E464C; 
}
aside ul li:first-of-type{
	text-align: center;
}
aside input[type="search"]{
	width: 80%;
	height: 25px;
}
.search_button{
	color:#D32F2F;
	width: 15px;
	background-color: #272822;
	padding: 5px;
	cursor:pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	display: inline-block;
}
.search_button:hover{
	background-color: #272822;
}
.no_hover:hover{
	background-color:#727272;
	cursor:text; 
}

/* CONTENT */
section{
	float:left;
	width: 79%;
	text-align: center;
}
.element{
	margin:15px;
	display: inline-block;
}
.element img{
	width: 150px;
	height: 200px;
	display: block;
	border: 1px solid black;
	padding: 1px;
	margin-bottom: 5px;
}
.element span{
	display: block;
	font-weight: bold;
	color:#FFC107;
}
.element .elm_vm{
	color:#ccc;
	background-color: #272822;
	padding: 5px;
	cursor:pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
.clearfix{
	clear:both;
}
.nav_options{
	float:right;
}
.show_user{
	background-color: rgba(62, 70, 76, 0.9);
	width:350px;
	height: 220px;
	margin: 10% auto;
	padding: 30px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
.show_user span{
	font-size: 1.5em;
	color:#FFC107;
}
.img_user{
	margin-left: 20px;
	border: 2px solid #D32F2F;
	width:150px;
	float:left;
}
.texto_info{
	float:left;
	padding: 10px;
}

/* FOOTER */
footer{
	width:98.5%;
	background-color: #212121;
	padding: 10px;
	position: absolute;
	bottom:0;
}
footer a{
	color:white;
	text-decoration: none;
}
footer a:visited{
	color:white;
}
footer .sitemap{
	font-size: 1em;
	float:left;
}
footer .social{
	font-size: 1.2em;
	cursor: pointer;
	float:right;
}

